body{
    background: #0f0f0f;
    background-image: url("../img/background.png");
    background-size: 100vw 100vh;
}

ul{
    display: block;
    top: calc( (100vh - 30vh) / 2 );
    position: relative;
}

ul li {
    display: table-cell;
    width: 25vw;
    height: 30vh;
    vertical-align: middle;
}

ul li img, ul li span{
    display: block;
    text-align: center;
    margin: auto;
    font: 700 4vh Amaranth, sans-serif;
    color: rgba(255, 255, 255, 0.9);
}

ul li img{
    height: calc( 5vh + 4vw );
    width: calc( 5vh + 4vw );
    border-radius: 50%;
}

ul li:hover img{
    transition: height 100ms, width 100ms;
    height: calc( 5vh + 5vw );
    width: calc( 5vh + 5vw );
}

ul li:hover span{
    transition: font-size 100ms;
    font-size: 4.2vh;}

ul li:first-child span{color: rgba(16, 16, 16, 0.9);}

footer{
    display: block;
    position: fixed;
    bottom:0;
    left:0;
    color: rgba(255, 255, 255, 0.5);
    height: 3vh;
    font:2vh Amaranth, sans-serif;
}