
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
body{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bfbfbf+0,000000+100&0.65+0,0+100 */
background: -moz-linear-gradient(top,  rgba(191,191,191,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(191,191,191,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(191,191,191,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6bfbfbf', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

#vert{
  background: #09A031;
}
#rouge{
  background: #D6230C;
}
#bleu{
  background: #0B6D84;
}
#orange{
  background: #D6700C
}

img{
  margin: 5px;
}

nav{
  width: 100%;
  text-align: center;
  height: 100%;
  font-family: helvetica, sans-serif;
}
nav > ul{
 height: 100vh;
}
nav ul li{
  width: 20%;
  list-style-type: none;
  display: inline-block;
  margin: 0 2%;
  vertical-align: middle;
  cursor: pointer;
}

nav ul li div.info {
  display: none;
}
nav ul li div.info ul {
  text-align: left;
  list-style-type: disc;
  padding: 5px;
}
nav ul li:hover div.info{
  display: block;
  width: 20%;
}
nav ul li:hover div.blc img{
  display: none;
}

nav ul li div.info ul li{
  list-style-type: square;
  width: 100%;
}


#dummy{
  height: 100%;
  margin: 0;
  width: 0;
}
.blc{
  width: 150px;
  margin: auto;
  background: rgba(233, 233, 233, 0.79);
  margin-top: 5px;
  margin-bottom: 20px;
}
